In [1]:
import pandas as pd

In [8]:
dataset = pd.read_csv('dataset/articles.csv', sep = '|')
dataset = dataset.drop(columns = ['Unnamed: 0'])
dataset

,jid,aid,date,title,desc
0,10015,oai:ojs2.jrpb.unram.ac.id:article/1,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,10015,oai:ojs2.jrpb.unram.ac.id:article/4,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,10015,oai:ojs2.jrpb.unram.ac.id:article/6,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,10015,oai:ojs2.jrpb.unram.ac.id:article/8,2015-03-01,TIDAK ADA,TIDAK ADA
4,10015,oai:ojs2.jrpb.unram.ac.id:article/9,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...
670398,9994,oai:ojs.jurnal.unpad.ic.id:article/21238,2019-04-05,Hubungan Karakteristik terhadap Tingkat Aktivi...,Posyandu merupakan bentuk Upaya Kesehatan Bers...
670399,9994,oai:ojs.jurnal.unpad.ic.id:article/16985,2018-06-06,PERSPEKTIF TENAGA KESEHATAN: BUDAYA KESELAMATA...,Kejadian Tidak Diharapkan (KTD) yang paling um...
670400,9994,oai:ojs.jurnal.unpad.ic.id:article/11954,2017-03-21,Hubungan Aktivitas Fisik dengan Kadar Kolester...,Saat ini aktivitas fisik pada masyarakat semak...
670401,9994,oai:ojs.jurnal.unpad.ic.id:article/10358,2016-11-30,SKRINING THALASSEMIA BETA MINOR PADA SISWA SMA...,Jenis Thalassemia yang paling banyak ditemukan...
670402,9994,oai:ojs.jurnal.unpad.ic.id:article/28765,2020-07-23,Gambaran Malnutrisi Pasien Anak Di Ruang Rawat...,Kondisi malnutrisi pada pasien anak yang menja...

In [9]:
cp_dataset = dataset.copy()

In [10]:
dataset.query("desc == 'TIDAK ADA'")

,jid,aid,date,title,desc
0,10015,oai:ojs2.jrpb.unram.ac.id:article/1,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,10015,oai:ojs2.jrpb.unram.ac.id:article/4,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,10015,oai:ojs2.jrpb.unram.ac.id:article/6,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,10015,oai:ojs2.jrpb.unram.ac.id:article/8,2015-03-01,TIDAK ADA,TIDAK ADA
4,10015,oai:ojs2.jrpb.unram.ac.id:article/9,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...
670223,9994,oai:oai.jurnal.unpad.ac.id:article/13425,TIDAK ADA,TIDAK ADA,TIDAK ADA
670224,9994,oai:oai.jurnal.unpad.ac.id:article/5429,TIDAK ADA,TIDAK ADA,TIDAK ADA
670225,9994,oai:www.jurnal.unpad.ac.id:article/2117,TIDAK ADA,TIDAK ADA,TIDAK ADA
670308,9994,oai:oai.jurnal.unpad.ac.id:article/13961,TIDAK ADA,TIDAK ADA,TIDAK ADA
670386,9994,oai:oai.jurnal.unpad.ac.id:article/10364,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [11]:
dataset.query("title == 'TIDAK ADA'")

,jid,aid,date,title,desc
0,10015,oai:ojs2.jrpb.unram.ac.id:article/1,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,10015,oai:ojs2.jrpb.unram.ac.id:article/4,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,10015,oai:ojs2.jrpb.unram.ac.id:article/6,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,10015,oai:ojs2.jrpb.unram.ac.id:article/8,2015-03-01,TIDAK ADA,TIDAK ADA
4,10015,oai:ojs2.jrpb.unram.ac.id:article/9,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...
670223,9994,oai:oai.jurnal.unpad.ac.id:article/13425,TIDAK ADA,TIDAK ADA,TIDAK ADA
670224,9994,oai:oai.jurnal.unpad.ac.id:article/5429,TIDAK ADA,TIDAK ADA,TIDAK ADA
670225,9994,oai:www.jurnal.unpad.ac.id:article/2117,TIDAK ADA,TIDAK ADA,TIDAK ADA
670308,9994,oai:oai.jurnal.unpad.ac.id:article/13961,TIDAK ADA,TIDAK ADA,TIDAK ADA
670386,9994,oai:oai.jurnal.unpad.ac.id:article/10364,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [19]:
bodied_df = dataset.query("desc != 'TIDAK ADA' and title != 'TIDAK ADA'")
bodied_df

,jid,aid,date,title,desc
28,10015,oai:ojs2.jrpb.unram.ac.id:article/40,2017-07-30,PERFORMANSI TRAKTOR TANGAN RODA DUA MODIFIKASI...,Tujuan dari penelitian ini adalah untuk melaku...
29,10015,oai:ojs2.jrpb.unram.ac.id:article/41,2017-07-30,ANALISIS KESERAGAMAN ASPEK FERTIGASI PADA DESA...,Hidroponik merupakan teknologi bercocok tanam ...
31,10015,oai:ojs2.jrpb.unram.ac.id:article/43,2017-07-30,RANCANG BANGUN MESIN PENCAMPUR KEDELAI DENGAN ...,Kekalik Jaya adalah salah satu sentra produksi...
32,10015,oai:ojs2.jrpb.unram.ac.id:article/44,2017-07-30,MODEL PENGEMBANGAN USAHA BUDIDAYA RUMPUT LAUT ...,Pantai Cipatujah Kabupaten Tasikmalaya merupak...
34,10015,oai:ojs2.jrpb.unram.ac.id:article/46,2017-07-30,APLIKASI PROGRAM LINEAR DALAM PEMBUATAN FORMUL...,Tujuan penelitian adalah mempelajari formulasi...
...,...,...,...,...,...
670398,9994,oai:ojs.jurnal.unpad.ic.id:article/21238,2019-04-05,Hubungan Karakteristik terhadap Tingkat Aktivi...,Posyandu merupakan bentuk Upaya Kesehatan Bers...
670399,9994,oai:ojs.jurnal.unpad.ic.id:article/16985,2018-06-06,PERSPEKTIF TENAGA KESEHATAN: BUDAYA KESELAMATA...,Kejadian Tidak Diharapkan (KTD) yang paling um...
670400,9994,oai:ojs.jurnal.unpad.ic.id:article/11954,2017-03-21,Hubungan Aktivitas Fisik dengan Kadar Kolester...,Saat ini aktivitas fisik pada masyarakat semak...
670401,9994,oai:ojs.jurnal.unpad.ic.id:article/10358,2016-11-30,SKRINING THALASSEMIA BETA MINOR PADA SISWA SMA...,Jenis Thalassemia yang paling banyak ditemukan...
670402,9994,oai:ojs.jurnal.unpad.ic.id:article/28765,2020-07-23,Gambaran Malnutrisi Pasien Anak Di Ruang Rawat...,Kondisi malnutrisi pada pasien anak yang menja...

In [1]:
bodied_df.iloc[0]['desc']

NameError: name 'bodied_df' is not defined

In [38]:
bodied_df.dropna(inplace=True)
bodied_df.to_csv('dataset/bodied_articles.csv', sep = '|')